body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: #0d002c;
    text-align: center;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
.App form {
    background-color: #2c0099;
    color: white;
    width: 90%;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.App form hr {
    margin: 10px 0 20px;
}
.App form input {
    width: 100%;
    padding: 7px;
    margin-bottom: 18px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    position: relative;
}
.App form .check {
    width: 20px;
    height: 20px;
}
.App form .button {
    width: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0d002c;
    color: white;
    cursor: pointer;
}
.App form .button:hover {
    background-color: #1c103a;
}
.App form .button.disabled {
    background-color: #404040;
    cursor: not-allowed;
}